.wrapper {
    background-image: url("https://images4.alphacoders.com/120/12066.jpg");
    background-size: cover;
    padding-top: 50px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }